.input-field {
  label {
    min-width: 200px;
  }

  input {
    max-width: 150px;
  }
}

.tips {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  &:before {
    content: "?";
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
}