<!doctype html>

<html ng-app="App" lang="en" ng-controller="AppController">

<head>
  <meta charset="utf-8">

  <title>Deposit calculator</title>
  <meta name="description" content="Income Calculator">
  <meta name="author" content="77Vincent">

  <link rel="stylesheet" href="vendor/bootstrap.min.css">
  <link rel="stylesheet" href="index.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container">
    <form action="">
      <div class="field" ng-repeat="item in input">
        <!-- <div class="tips"></div> -->
        <label for="item.label">
          <span>{{item.label}}</span>
          <span ng-if="item.suffix">({{item.suffix}})</span>
        </label>
        <input ng-model="item.model" type="number">
      </div>

      <div class="result">
        <div class="field" ng-repeat="item in output">
          <label for="">{{item.label}}</label>
          <input disabled ng-model="item.model">
        </div>
      </div>
    </form>

    <button class="calculate" type="button" ng-click="calculate()">Calculate</button>
  </div>

  <script src="vendor/angular.min.js"></script>
  <script src="index.js"></script>
</body>

</html>