.field {
  h4 {
    margin: 10px 0;
  }

  span {
    vertical-align: top;
  }

  label {
    min-width: 250px;
  }
  input {
    max-width: 150px;
  }
}

.suffix {
  color: gray;
}

.result {
  border-top: 1px solid lightgray;
  padding-top: 10px;
  margin-top: 10px;
}

.calculate {
  margin: 10px 0;
}

.tips {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: navy;
  display: inline-block;
  cursor: pointer;
  &:before {
    content: "?";
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  &:hover {
    background-color: gray;
  }
}